
body
{
    background-color: rgb(43, 43, 43);

}
nav
{
    background-color: rgb(43, 43, 43);
}
nav .box i
{
    color: rgb(3, 114, 218);
}
.navbar-brand {

    color: rgb(3, 114, 218);

}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color:rgb(255, 255, 255);
}
.box_image
{
    background-image: url("./../images/11.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 90vh;
}
.color_web
{
    background-color: rgb(43, 43, 43);
}
.text_color
{
    color: #b518fe;
}

.explore_button
{
    color: #ffffff;
    background: linear-gradient(120deg, rgba(56, 56, 56, 0) 20%, #0f2c3f, rgb(85, 21, 85));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    background-size: 200%;
    transition: all 0.5s;
    border: none;
    width: 200px;
    height: 50px;
}
.explore_button:hover
{
    background-position: right;
    color: white;
    transform: scale(1.02);
}

.Get_Started
{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    background:linear-gradient(120deg, rgba(44, 36, 36, 0), rgba(71, 13, 22, 0.795),rgba(110, 9, 80, 0.788));
    color: white;
    background-size: 200%;
    transition: all 0.5s;
    border: none;
    width: 200px;
    height: 50px;
}
.Get_Started:hover
{
    transform: scale(1.02);
    background-position: right;
    color: white;
}

.div_0
{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 400px;
    width: 700px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    background-color: rgba(255, 255, 255, 0.1); 
    padding: 20px;
    border-radius: 30px;
    color: white;
}

.login
{
    height: 35px;
        width: 170px;
        border: none;
        border-radius: 5px;
        color: white;
        background: linear-gradient(120deg, #3498db 60%, #502ecc);
        transition: all 0.5s;
        cursor: pointer;
        background-size: 200%;
        text-align: center;
}
.login:hover
{
    background-position: right;
    border-radius: 5px;
    color: white;
}

.div_1
{
    text-align: center;
    padding: 20px;
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    border-radius: 20px;
    gap: 20px;
    box-shadow: 0px 0px 30px rgba(214, 214, 214, 0.582);
    transition: all 0.5s;
    background-color: white;
    i
    {
        font-size: x-large;
        color: #3498db;
        transition: all 0.5s;
    }  
    h5
    {
        color: #3445db;
    }
}
.div_1:hover
{
    transform: scale(1.06);
    box-shadow: 4px 4px 30px rgba(80, 0, 228, 0.473), -4px -4px 30px rgb(99, 5, 20) ;
    i
    {
        color: #3445db;
        transform: scale(1.25);
    }
}

.Featured
{
    transition: all 0.5s;
    i
    {
        margin-top: 3px;
        transition: all 1s;
    }
    h1
    {
        transition: all 0.5s;
    }
}
.Featured:hover
{
    i
    {
        transform: rotatey(720deg);
        color:#b518fe;
    }
    h1
    {
        color:#3445db;
    }
}

.Featured_Destinations
{
    box-shadow: 0px 0px 30px rgba(214, 214, 214, 0.582);
    background: linear-gradient(120deg , rgb(255, 255, 255) 50%, rgb(0, 0, 0) 50%,rgb(39, 4, 78));
    background-size: 300%;
    transition: all 1s;
    .Featured_1
    {
        transition: all 0.5s;
    }
    .p_1
    {
        transition: all 0.5s    ;
    }
}
.Featured_Destinations:hover
{
    background-position:  right 1000px;
    box-shadow: 4px 4px 30px rgba(80, 0, 228, 0.473), -4px -4px 30px rgb(99, 5, 20) ;
    .Featured_1
    {
        transform: scale(1.04);
    }
    .Featured
    {
        color: white;
    }
    .p_1
    {
        color: white;
    }
}
.Travel_statistics
{
    box-shadow: 0px 0px 30px rgba(214, 214, 214, 0.582);
}

.view_details
{
    border: none;
    color: white;
    background: linear-gradient(120deg, rgb(43, 43, 43) 50%, white 50%);
    background-size: 250%;
    transition: all 0.5s;
    border: solid 1px rgb(43, 43, 43);

}

.view_details:hover
{
    background-position: right;
    border: solid 1px rgb(43, 43, 43);
}


.Travel_1
{
    padding: 20px;
}