
body
{
    background-color:#b5cdd1;
}
nav
{
    background-color: white;
}
nav .box i
{
    color: rgb(3, 114, 218);
}
.navbar-brand {

    color: rgb(3, 114, 218);

}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color:rgb(3, 114, 218);
}
.box_image
{
    background-image: url("./../images/pic.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 90vh;
}
.color_web
{
    background-color: #b518fe;
}
.text_color
{
    color: #b518fe;
}